// $ venus: #998099
// зробити колори змінними.

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Taviraj', serif
    font-weight: 400
    color: #333333

body

    background: #F5F5F5

.wrapper
    margin: 0 auto
    width: 1440px
    background: #fff

header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 24px 24px 0

.logo
    display: flex
    align-items: center

    span
        font-size: 40px
        margin: 0 0 0 42px

nav
    width: 429px

    ul
        display: flex
        justify-content: space-between
        width: 429px
        list-style: none
        font-size: 20px

        a
            color: #333333
            font-size: 20px
            text-decoration: none

.rightPart
    display: flex
    align-items: center

    #searchIcon
        margin: 0 56px 0 0

    span
        font-size: 18px
        margin: 0 40px 0 8px

//____________________________________

.cover
    width: 1110px
    margin: 0 auto

.background
    background: #3AAFA9

.background-fs-size
    position: relative
    width: 1010px
    height: 505px
    border-radius: 25px
    margin: 92px 0 0 100px

.first-screen #mainImg
    border-radius: 25px
    position: absolute
    top: 56px
    left: -100px

.background .content
    padding: 56px 210px 65px 280px

    h1
        font-size: 60px
        line-height: 80px
        font-weight: 400

    p
        font-size: 16px
        line-height: 27px

    hr
        width: 95px
        border: 1px solid #000
        margin: 7.5px 0 24.5px 0

    a
        font-weight: 600
        color: #333
        display: block
        margin: 17px 0 32px 0

    .buttons-first-screen
        height: 62px
        width: 529px
        margin: 32px 0 0 0

        button
            background: #DEF2F1
            border: none
            border-radius: 5px
            font-size: 20px

        .btn-simvol
            height: 32px
            width: 32px

        span
            margin: 0 7px

        .btn-add-card
            height: 100%
            width: 229px
            margin: 0 0 0 37px

        .btn-buy
            height: 100%
            width: 139px
            margin: 0 0 0 9px

.control-slider
    position: absolute
    top: 474px
    left: 844px

    button
        background: #DEF2F1
        border: none
        border-radius: 5px
        font-size: 20px
        margin: 0 15px 0 0px

    .btn-control-slider
        height: 60px
        width: 60px

        img
            margin: 10px 0 0 0

//____________________________________
.second-screen
    margin: 211px auto 0

.flex-cover
    display: flex
    justify-content: space-between

.position-relative
    position: relative

.ss-blok-size
    height: 270px
    width: 540px
    border-radius: 15px
    padding: 32px 40px 0 32px

    h3
        font-size: 28px
        span
            font-weight: 900
    p
        color: #000
        font-size: 16px
        line-height: 24px
        margin: 8px 0 7px 0

    a
        font-weight: 600
        font-size: 16px

    img
        border-radius: 15px
        position: absolute

    #ss-glasses
        top: 156px
        left: 302px
    #ss-clock
        top: 156px
        right: 302px

.rightBlok
    .flex-colum
        display: flex
        flex-direction: column
        align-items: flex-end

        p
            text-align: right

.second-monthly-deals
    margin-top: 80px

    hr
        display: inline-block
        width: 171px
        border: 1px solid #000000
        margin-bottom: 10px

    h2
        margin-bottom: 120px

    .item-card
        width: 255px
        height: 412px
        border-radius: 15px
        padding: 0 0 0 24px

        img
            position: absolute
            top: -40px
            border-radius: 10px

        img:hover
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

        h4
            margin: 200px 0 0 0

        .prise-off
            margin: 0
            padding: 0
            font-size: 16px
            color: #777

        .prise
            font-size: 24px

        button
            margin-top: 20px
            width: 205px
            height: 39px
            background: #DEF2F1
            border-radius: 10px
            border: none

            font-size: 16px
            line-height: 24px

            text-align: center

    button
        height: 45px
        width: 123px
        background: #DEF2F1
        border: 1px solid #333333
        margin: 32px auto 0
        display: block

.underlined
    font-size: 16px
    color: #777
    text-decoration: line-through
    text-decoration-color: #D93F3F

h4
    font-weight: 500
    font-size: 24px

//____________________________________

.third-recent-news
    .h2-third-section
        margin-top: 83px

.long-line
    display: inline-block
    width: 171px
    border: 1px solid #000000
    margin-bottom: 10px

.shot-line
    display: inline-block
    width: 65px
    border: 1px solid #000000
    margin-bottom: 10px

.h2-size
    display: inline-block
    font-weight: 500
    font-size: 36px
    margin-left: 24px

#th-left-content
    width: 350px

    #toTravel
        font-size: 16px
        text-align: center
        color: #777777
        margin-top: 178px

    #where-to-travel
        font-size: 28px
        line-height: 40px
        text-align: center
        color: #333333
        margin-top: 8px

    button
        width: 160px
        height: 58px
        display: block
        margin: 61px auto 0
        background: #DEF2F1
        border: 1px solid #333333

.background-th-r-n-size
    height: 479px
    width: 705px
    border-radius: 20px
    position: relative
    top: -470px
    left: 570px

    img
        position: relative
        top: 102px
        left: -190px

.third-recent-news
    .gallery
        margin-top: -300px
        display: flex
        flex-direction: row
        justify-content: space-between

        .column
            width: 345px
            height: 557px

            h2
                margin-bottom: 28px

            .row
                width: 100%
                display: flex
                margin-top: 32px

                .item-text-gallery
                    margin-left: 24px

                .titleName
                    font-size: 24px
                    // display: block

                .prise
                    font-size: 28px
                    margin-top: 4px

//____________________________________

.fourth-testimonials-insta
    margin-top: 160px

    .left-block
        .background
            width: 515px
            height: 300px
            border-radius: 20px
            position: relative
            top: 25px
            left: -165px

            img
                position: absolute
                top: 67px
                left: 165px

        .control-testimonials
            display: flex
            margin: 113px 0 0 0px

            button
                background: #DEF2F1
                border: none
                border-radius: 10px
                font-size: 20px
                margin: 11px 15px 0 0px

            .btn-control-testimonials
                height: 60px
                width: 60px
                padding: 0px

    .right-block
        width: 449px

        .h2-size
            margin-bottom: 80px

        .under-h2
            font-weight: 300
            font-size: 16px
            line-height: 32px

        h4
            margin-top: 32px

        .under-h4
            color: #777777

.insta-block
    .background
        width: 540px
        height: 79px
        border-radius: 10px
        margin: 88px auto -37px
        position: relative
        z-index: 2
        display: flex
        justify-content: center
        align-items: center

        h5
            font-weight: 500
            font-size: 24px
            color: #000000

    .insta-gallety
        display: flex
        flex-direction: row

//____________________________________


