// $ venus: #998099

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Taviraj', serif
    font-weight: 400
    color: #333333
    background: #F5F5F5

.wrapper
    margin: 0 auto
    width: 1440px
    // height: 200px //!
    background: #fff

header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 24px 24px 0 

.logo
    display: flex
    align-items: center
    // padding: 24px 0 0 24px

.logo img

.logo span
    font-size: 40px
    margin: 0 0 0 42px

nav
    width: 429px

nav ul
    display: flex
    justify-content: space-between
    width: 429px
    list-style: none
    font-size: 20px

nav ul a
    color: #333333
    font-size: 20px
    text-decoration: none

.rightPart
    display: flex
    align-items: center

.rightPart #searchIcon
    margin: 0 56px 0 0

.rightPart span
    font-size: 18px
    margin: 0 40px 0 8px

//________________________

.cover
    width: 1110px
    // height: 140px
    margin: 0 auto
    // background: tomato

.background
    width: 1010px
    height: 505px
    background: #3AAFA9
    border-radius: 25px

    margin: 92px 0 0 100px 

.first-screen img
        border-radius: 25px
    // position: relative
    // top: 216px
    z-ingex: 2
    margin: -132px 0 0 0 
